.home {
  flex: 4;
}
.homeWidgets {
  display: flex;
  margin: 20px;
}

.widgetSmpost {
  flex: 1;
  -webkit-box-shadow: 0px 0px 11px -1px #00000023;
  box-shadow: 0px 0px 11px -1px #00000033;
  padding: 20px;
  margin-right: 20px;
  background-color: #ffffff;
  border-radius: 10px;
}
.widgetSmUserTitle {
  font-weight: 400;
  color: black;
}
